h1:hover {
    background-color: red;
}

button:hover {
    color: white;
}

input:focus {
    background: teal;
}

button:focus {
    border-radius: 10px;
    background: purple;
}

button:active {
    background-color: orange;
    font-size: 30px;
}

h1:active, p:active {
    color: yellow;
}