.container {
    display: flex;

    /* 01 */   
    /* flex-direction: row; */       /* default */
    /* flex-direction: row-reverse; */
    /* flex-direction: column; */
    /* flex-direction: column-reverse; */

    border: 10px solid black;

    /* 02 */
    /* flex-wrap: nowrap; */  /* default */
    /* flex-wrap: wrap; */
    /* flex-wrap: wrap-reverse; */

    /* Can use flex direction in combination */
    /* flex-direction: row-reverse; */


    /* 03: Justify content describes how to space is distrubuted between items in a flex container */
    /* justify-content: flex-start; */  /* default */
    /* justify-content: flex-end; */
    /* justify-content: center; */
    /* justify-content: space-between; */
    /* justify-content: space-around;  */

    /* Interesting Combo: */
    /* flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 800px; */

    /* [04] */
    height: 500px;
    /* align-items: flex-start;   */
    /* align-items: flex-end; */
    /* align-items: center; */

    /* [05]: Align Content */
    width: 500px;
    flex-wrap: wrap;
    /* align-content: stretch; */
    /* align-content: flex-start; */
    /* align-content: flex-end; */
    /* align-content: space-between; */
    /* align-content: space-around; */
    align-content: center;

    flex-direction: column;
}

.box {
    font-size: 100px;
    color: white;
    padding: 10px;
    text-align: center;
    font-family: lato;
    font-weight: 300;
    box-sizing: border-box;

    /* 02 */
    /* width: 280px; */
    width: 80px;
    /* height: 120px; */
}

.box-1 {background: green;}
.box-2 {background: blue; font-size: 150px;}
.box-3 {background: darkblue;}
.box-4 {background: purple; font-size: 50px;}
.box-5 {background: magenta; font-size: 80px;}
.box-6 {background: red;}
.box-7 {background: darkred;}
.box-8 {background: orange; font-size: 125px;}
.box-9 {background: yellow;}